[program:rpimonitor]
command=/home/{{ ansible_user }}/cloud_detector/scripts/rpi-monitor.sh
directory=/home/{{ ansible_user }}/cloud_detector/scripts
user={{ ansible_user }}
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/rpimonitor.log
redirect_stderr=true
numprocs=1
