[program:sshtunnel]
command=/home/{{ ansible_user }}/cloud_detector/scripts/sshtunnel.sh
user={{ ansible_user }}
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/sshtunnel.log
redirect_stderr=true
numprocs=1
